
<br class="card text-center">
    <br> 

    <div class="container-center text-center"></div>
    <h1 class="text-center">Llena los campos con los datos del nuevo alumno</h1>
    <br>
    <div class="card-header">
     
    </div>
    <div class="container">
    <div class="col-sm-50">
    <div class="card-body"></div>

        Información Básica
        <hr>
          <div class="col-xs-1  text-left">
            <label for="first_name">Nombre(s)</label>
            <input class="form-control" id="first_name" type="text">
          </div>
          <div class="col-xs-1  text-left">
            <label for="last_name">Apellidos</label>
            <input class="form-control" id="last_name" type="text">
          </div>

          <div class="form-group row">
            <div class="form-group mx-sm-3">
              <label for="email">Correo Electrónico</label>
              <input class="form-control" id="email" type="text">
            </div>
              <div class="form-group mx-sm-3">
                <label for="phone">Teléfono</label>
                <input class="form-control" id="phone" type="text">
              </div>
          </div>
          <div class="form-group row">
            <div class="form-group mx-sm-3">
              <label for="nua">NUA</label>
              <input class="form-control" id="nua" type="text">
            </div>
            <!-- <div class="form-group mx-sm-3">
              <label for="ex1">Semestre</label>
              <input class="form-control" id="ex1" type="text">
            </div> -->
            <div class="form-group mx-sm-3">
              <label for="age">Edad</label>
              <input class="form-control" id="age" type="text">
            </div>
            <div class="form-group mx-sm-3">
              <label for="gender">Género</label>
              <input class="form-control" id="gender_id" type="text">
            </div>
          </div>
          <div class="col-xs-1">
            <label for="career">Programa Educativo</label>
            <input class="form-control" id="career_id" type="text">
          </div>
                 
          <!-- <div class="form-group row">
            <div class="form-group mx-sm-3">
              <label for="ex2">Servicio Médico</label>
              <input class="form-control" id="ex2" type="text">
            </div>
            <div class="form-group mx-sm-3">
              <label for="ex2">NSS</label>
              <input class="form-control" id="ex2" type="text">
            </div>
          </div> -->
          <!-- <div class="form-group row">
            <div class="form-group mx-sm-3"></div>
            <label for="comment">Motivo De Intervención</label>
            <textarea class="form-control" rows="6" cols="20"id="comment"></textarea>
          </div> -->
          <!-- <div class="form-group row">
            <label for="comment">Motivo De Deserción</label>
            <textarea class="form-control" rows="6" cols="0"id="comment"></textarea>
          </div> -->
            
          <div class="form-group">
          Composición Corporal
            <hr>         
              <div class="form-group row">
                <div class="form-group mx-sm-3">
                  <label for="imc">IMC</label>
                  <input class="form-control" id="imc" type="text">
                </div> 
                <!-- <div class="form-group mx-sm-3">
                  <label for="ex2">Clasificación </label>
                  <input class="form-control" id="ex2" type="text">
                </div> -->
              </div>
              <div class="form-group row">
                <div class="form-group mx-sm-3">
                  <label for="perimeter_abd">Perímetro Abdominal (cm)</label>
                  <input class="form-control" id="perimeter_abd" type="text">
                </div>
                <!-- <div class="form-group mx-sm-3">
                  <label for="ex2">Clasificación </label>
                  <input class="form-control" id="ex2" type="text">
                </div> -->
              </div>
                      
            <div class="form-group">
                Condición Física
                <hr>
                  <!-- <div class="form-group row">
                    <div class="form-group mx-sm-3">
                      <label for="ex1">T/A</label>
                      <input class="form-control" id="ex1" type="text">
                    </div>
                    <div class="form-group mx-sm-3">
                      <label for="ex2">Clasificación</label>
                      <input class="form-control" id="ex2" type="text">
                    </div>
                  </div> -->


                  <div class="form-group row">
                    <div class="form-group mx-sm-3">
                      <label for="fms">FMS</label>
                      <input class="form-control" id="fms" type="text">
                    </div>
                    <!-- <div class="form-group mx-sm-3">
                      <label for="ex2">Clasificación </label>
                      <input class="form-control" id="ex2" type="text">
                    </div> -->
                  </div>

                  <div class="form-group row">
                    <div class="form-group mx-sm-3">
                      <label for="abd_strength">Fuerza Abdominal</label>
                      <input class="form-control" id="abd_strength" type="text">
                    </div>
                    
                    <!-- <div class="form-group mx-sm-3">
                      <label for="ex2">Clasificación</label>
                      <input class="form-control" id="ex2" type="text">
                    </div> -->
                  </div>

                  <div class="form-group row">
                    <div class="form-group mx-sm-3">
                      <label for="flexibility">Flexibilidad</label>
                      <input class="form-control" id="flexibility" type="text">
                    </div>  
                    <!-- <div class="form-group mx-sm-3">
                      <label for="ex2">Clasificación </label> 
                      <input class="form-control" id="ex2" type="text">
                    </div> -->
                  </div>

                  <div class="form-group row">
                    <div class="form-group mx-sm-3">
                      <label for="V02_max">V02 Máxima</label>
                      <input class="form-control" id="V02_max" type="text">
                    </div>
                    <!-- <div class="form-group mx-sm-3">
                      <label for="ex2">Clasificación </label>
                      <input class="form-control" id="ex2" type="text">
                    </div> -->
                  </div>
                  <div class="form-group row">
                    <div class="form-group mx-sm-3">
                      <label for="level_act_f">Nivel De Actividad Física (MET)</label>
                      <input class="form-control" id="ex1" type="level_act_f">
                    </div>
                    <!-- <div class="form-group mx-sm-3">
                      <label for="ex2">Clasificación </label>
                      <input class="form-control" id="ex2" type="text">
                    </div> -->
                  </div>
                  <div class="form-group row">
                    <div class="form-group mx-sm-3"></div>
                      <label for="observations">Observaciones</label>
                      <textarea class="form-control" rows="8" cols="30"id="observations"></textarea>
                    </div>
                </div>
                        
              <!-- botones para guardar y editar*</div>
              -->         
                <div class="text-center">      
                  <button type="button" class="btn btn-success">Guardar</button>
                </div>
          </div>                 
    </div>
  </div>
