<div class="jumbotron jumbotron-fluid">
    <div class="container">
        
        <div class="row">
            
            <div class="col-sm-3">
              <div class="card">
                <div class="card-body">
                    <img src="assets/imagenes/abeja.jpg" alt="Fjords" style="width:50%">
            
                  <h5 class="card-title">Nombre Alumno</h5>
                  <p class="font-weight-bold">Peso:</p>
                  <p class="font-weight-bold">Estatura:</p>
                  <button type="button" class="btn btn-success  btn btn-primary btn-block">Marcar Asistencia</button>
                  <button type="button" class="btn btn-primary btn btn-primary btn-block">Detalles</button>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="card">
                <div class="card-body">
                    <img src="assets/imagenes/abeja.jpg" alt="Fjords" style="width:50%">
                  <h5 class="card-title">Nombre Alumno</h5>
                  <p class="font-weight-bold">Peso:</p>
                  <p class="font-weight-bold">Estatura:</p>
                  <button type="button" class="btn btn-success  btn btn-primary btn-block">Marcar Asistencia</button>
                  <button type="button" class="btn btn-primary btn btn-primary btn-block">Detalles</button>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                  <div class="card-body">
                    <img src="assets/imagenes/abeja.jpg" alt="Fjords" style="width:50%">
                    <h5 class="card-title">Nombre Alumno</h5>
                    <p class="font-weight-bold">Peso:</p>
                    <p class="font-weight-bold">Estatura:</p>
                    <button type="button" class="btn btn-success  btn btn-primary btn-block">Marcar Asistencia</button>
                    <button type="button" class="btn btn-primary btn btn-primary btn-block">Detalles</button>
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="card">
                  <div class="card-body">
                    <img src="assets/imagenes/abeja.jpg" alt="Fjords" style="width:50%">
                    <h5 class="card-title">Nombre alumno</h5>
                    <p class="font-weight-bold">Peso:</p>
                    <p class="font-weight-bold">Estatura:</p>
                    <button type="button" class="btn btn-success  btn btn-primary btn-block">Marcar Asistencia</button>
                    <button type="button" class="btn btn-primary btn btn-primary btn-block">Detalles</button>
                  </div>
                </div>
              </div>
        <!-- siguente fila-->
              <div class="col-sm-3">
                <div class="card">
                  <div class="card-body">
                    <img src="assets/imagenes/abeja.jpg" alt="Fjords" style="width:50%" >
                    <h5 class="card-title">Nombre Alumno</h5>
                   
                    <p class="font-weight-bold">Peso:</p>
                    <p class="font-weight-bold">Estatura:</p>
                    <p></p>
                    <button type="button" class="btn btn-success  btn btn-primary btn-block">Marcar Asistencia</button>
                    <button type="button" class="btn btn-primary btn btn-primary btn-block">Detalles</button>
                  </div>
                </div>
              </div>    
          </div>
          