<div class="card text-center">
    <div class="card-header">
     Bienvenido
    </div>
    <div class="container">
    <div class="col-sm-50">
    <div class="card-body"></div>

        Información Básica
        <hr>
        <div class="col-xs-1  text-left">
            <label for="ex2">Nombre Completo</label>
            <input class="form-control" id="ex2" type="text">
            </div>
            <div class="form-group row">
                <div class="form-group mx-sm-3">
                <label for="ex2">Correo Electrónico</label>
                <input class="form-control" id="ex2" type="text">
              </div>
              <div class="form-group mx-sm-3">
                <label for="ex2">Teléfono</label>
                <input class="form-control" id="ex2" type="text">
              </div></div>
              <div class="form-group row">
                <div class="form-group mx-sm-3">
                  <label for="ex1">NUA</label>
                  <input class="form-control" id="ex1" type="text">
                </div>
                <div class="form-group mx-sm-3">
                    <label for="ex1">Semestre</label>
                    <input class="form-control" id="ex1" type="text">
                  </div>
                  <div class="form-group mx-sm-3">
                    <label for="ex1">Edad (Años)</label>
                    <input class="form-control" id="ex1" type="text">
                  </div>
                  <div class="form-group mx-sm-3">
                    <label for="ex1">Sexo</label>
                    <input class="form-control" id="ex1" type="text">
                  </div>
                  </div>
                  <div class="col-xs-1">
                    <label for="ex2">Programa Educativo</label>
                    <input class="form-control" id="ex2" type="text">
                    </div>
                 
                   <div class="form-group row">
                   <div class="form-group mx-sm-3">
                    <label for="ex2">Servicio Médico</label>
                    <input class="form-control" id="ex2" type="text">
                  </div>
                  <div class="form-group mx-sm-3">
                    <label for="ex2">NSS</label>
                    <input class="form-control" id="ex2" type="text">
                  </div>
                </div>
                <div class="form-group row">
                    <div class="form-group mx-sm-3"></div>
                      <label for="comment">Motivo De Intervención</label>
                      <textarea class="form-control" rows="6" cols="20"id="comment"></textarea>
                    </div>
                    <div class="form-group row">
               
                        <label for="comment">Motivo De Deserción</label>
                        <textarea class="form-control" rows="6" cols="0"id="comment"></textarea>
                      </div>
            
                      <div class="form-group">
                        Composición Corporal
                      <hr>
                      
                      <div class="form-group row">
                        <div class="form-group mx-sm-3">
                          <label for="ex1">IMC</label>
                          <input class="form-control" id="ex1" type="text">
                        </div>
                       
                          <div class="form-group mx-sm-3">
                          <label for="ex2">Clasificación </label>
                          
                          <input class="form-control" id="ex2" type="text">
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="form-group mx-sm-3">
                          <label for="ex1">Perímetro Abdominal (cm)</label>
                          <input class="form-control" id="ex1" type="text">
                        </div>
                       
                          <div class="form-group mx-sm-3">
                          <label for="ex2">Clasificación </label>
                          
                          <input class="form-control" id="ex2" type="text">
                        </div>
                      </div>
                      <div class="form-group">
                        Condición Física
                        <hr>
                        <div class="form-group row">
                          <div class="form-group mx-sm-3">
                            <label for="ex1">T/A</label>
                            <input class="form-control" id="ex1" type="text">
                          </div>
                         
                            <div class="form-group mx-sm-3">
                            <label for="ex2">Clasificación</label>
                            
                            <input class="form-control" id="ex2" type="text">
                          </div>
                        </div>
                        <div class="form-group row">
                          <div class="form-group mx-sm-3">
                            <label for="ex1">FMS</label>
                            <input class="form-control" id="ex1" type="text">
                          </div>
                         
                            <div class="form-group mx-sm-3">
                            <label for="ex2">Clasificación </label>
                            
                            <input class="form-control" id="ex2" type="text">
                          </div>
                        </div>
                        <div class="form-group row">
                          <div class="form-group mx-sm-3">
                            <label for="ex1">Fuerza Abdominal</label>
                            <input class="form-control" id="ex1" type="text">
                          </div>
                         
                            <div class="form-group mx-sm-3">
                            <label for="ex2">Clasificación</label>
                            
                            <input class="form-control" id="ex2" type="text">
                          </div>
                        </div>
                        <div class="form-group row">
                          <div class="form-group mx-sm-3">
                            <label for="ex1">Flexibilidad</label>
                            <input class="form-control" id="ex1" type="text">
                          </div>
                         
                            <div class="form-group mx-sm-3">
                            <label for="ex2">Clasificación </label>
                            
                            <input class="form-control" id="ex2" type="text">
                          </div>
                        </div>
                        <div class="form-group row">
                          <div class="form-group mx-sm-3">
                            <label for="ex1">V02 Máxima</label>
                            <input class="form-control" id="ex1" type="text">
                          </div>
                         
                            <div class="form-group mx-sm-3">
                            <label for="ex2">Clasificación </label>
                            
                            <input class="form-control" id="ex2" type="text">
                          </div>
                        </div>
                        <div class="form-group row">
                          <div class="form-group mx-sm-3">
                            <label for="ex1">Nivel De Actividad Física (MET)</label>
                            <input class="form-control" id="ex1" type="text">
                          </div>
                         
                            <div class="form-group mx-sm-3">
                            <label for="ex2">Clasificación </label>
                            <input class="form-control" id="ex2" type="text">
                           
                          </div>
                        </div>
                          <div class="form-group row">
                            <div class="form-group mx-sm-3"></div>
                              <label for="comment">Observaciones</label>
                              <textarea class="form-control" rows="8" cols="30"id="comment"></textarea>
                            </div>
                        </div>
                        
               
              <!-- botones para guardar y editar*</div>
              -->         
                  <div class="text-center">      
                   <button type="button" class="btn btn-warning">Editar</button>
                   <button type="button" class="btn btn-success">Guardar</button>
                   </div>
                  </div> 
                        
    </div>
   
  </div>
  
